 <div class="modal-header">
    <h3 class="modal-title">About Iterograph</h3>
</div>
<div class="modal-body">
    An iterative drawing tool created by <a target="_blank" href="https://www.facebook.com/laboiteatortue/">tortue</a> from <a target="_blank" href="http://www.laboiteatortue.com">laboiteatortue.com</a>.
    <br/><br/>
    With the help of :
    <ul>
        <li><a target="_blank" href="https://angularjs.org/">AngularJS</a></li>
        <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
        <li><a target="_blank" href="https://angular-ui.github.io/bootstrap/">UI Bootstrap</a></li>
        <li><a target="_blank" href="https://d3js.org/">D3.js</a></li>
        <li><a target="_blank" href="http://www.peter-eigenschink.at/projects/steganographyjs/">steganography.js</a></li>
    </ul>
    <br/>
    Gallery images are hosted on <a target="_blank" href="{{imgurGalleryUrl}}">Imgur</a>
    <hr/>
    <h4>Contact</h4>
    For anything contact <a href="mailto:tortue@laboiteatortue.com">tortue@laboiteatortue.com</a>
    <hr/>
    <h4>Daily iterograph</h4>
    Follow <b>Daily Generated Art</b> on <a href="http://dailygeneratedart.tumblr.com" target="_blank">Tumblr</a> or <a href="https://www.facebook.com/dailygeneratedart" target="_blank">Facebook</a> for a new random iterograph everyday !
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>