<!-- <div id="toolbar" class="btn-toolbar" role="toolbar" style="display:inline-block">
    <button ng-controller="ModalDownloadCtrl" type="button" class="btn btn-default" uib-tooltip="Download image" ng-click="open('div[main-board] svg')">
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </button>
    <button ng-controller="ModalShareCtrl" type="button" class="btn btn-default" uib-tooltip="Submit your creation" ng-click="open('div[main-board] svg')">
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
    </button>
    <button ng-controller="ModalGalleryCtrl" type="button" class="btn btn-default" uib-tooltip="Gallery" ng-click="open('lg')">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
    </button>
    <button ng-controller="ModalAboutCtrl" type="button" class="btn btn-default" uib-tooltip="About" ng-click="open()">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </button>

</div> -->
<button ng-controller="ModalCreateProductCtrl" type="button" class="btn btn-danger btn-lg" uib-tooltip="Create" ng-click="open('div[main-board] svg')">
    Create products
</button>